<div class="row">
  <div class="small-2 large-6 columns">
<h2>Data recieved</h2> 
<br>
<br>
<h4>Details</h4>
<table>
<tr>
<td>
Name:<%= @namedata%></td>
</tr>
</table>
<p>Bye..</p>
<br>
 <a href="/user/index"><input type="button" value="Back" class="btn primary"><a>
</div>
</div>
